@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');

h1{
  text-align: center;
}

h3{
  text-shadow: ;
  text-align: center;
  margin-top: 5px;
  position: sticky;
  top: 0px;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 5em;
  padding-right: 5em;
}

body{
  color: black;
  font-family: "Yaldevi", sans-serif;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-image: url(images/flanback.jpg);


}

img.flan-1{
  width: 35%;
  float: left;
  margin-right: 10px;
  margin-bottom: 70px;
  clear: both;
  border-radius: 10px;
}

.row {
  clear: left;
}

.row > div{
  background-color:#cbcbcb;
  margin: 1em;
  padding: 2.5em;
}

.col-1{
  border-style: dashed;
  float: left;
  width:22%;
  box-shadow: 0 0 10px #777777;
  border-radius: 10px;
}

img.small{
  width: 25px;
  height: 25px;

}

.col-2{
  float: left;
  width:30%;
  box-shadow: 0 0 10px #777777;
  overflow: scroll;
  border-radius: 10px;
}

.col-3{
  float: left;
  width:17%;
  box-shadow: 0 0 10px #777777;
  overflow: scroll;
  border-radius: 10px;
}

ol, ul {
  padding: 0;
  height: 150px;
}

a.logo{
  background-image: url("images/logosprites.png");
  background-repeat: no-repeat;

  width: 400px;
  height: 300px;
  text-indent: -9999px;
  display: inline-block;
}

a:hover{
  background-position:0 -150px;
}
