@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');

h1{
  text-align: center;
  position: fixed;
  margin-top: 1px;
}

h2{
  text-align: center;
}

body{
  font-family: "Yaldevi", sans-serif;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

}

img.flan-1{
  width: 35%;
  float: left;
  margin-right: 10px;
  margin-bottom: 70px;
  clear: both;
}

.row {
  clear: left;
}

.row > div{
  background-color:#fffeb5;
  margin: 1em;
  padding: 2.5em;
}

.col-1{
  border-style: dashed;
  float: left;
  width:22%;
}

.col-2{
  float: left;
  width:30%;
}

.col-3{
  float: left;
  width:17%
}

ol, ul {
  padding: 0;
}
